<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container mb-3">

    <h3 class="mb-3">Edit User</h3>

    <form action="/administrator_page/<%= username %>?_method=put" method="post">

      <div class="form-group row">
        <label for="currentPassword"  class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" readonly id="currentPassword" name="currentPassword" value="00000000" class="form-control <%= (errors.currentPassword)?'is-invalid':'' %>">
          <% if(errors.currentPassword){ %>
            <span class="invalid-feedback"><%= errors.currentPassword.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="currentUser"  class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="hidden" readonly id="currentUser" name="currentUser" value= "<%= currentUser.auth %>" class="form-control <%= (errors.currentUser)?'is-invalid':'' %>">
          <% if(errors.currentUser){ %>
            <span class="invalid-feedback"><%= errors.currentUser.message %></span>
          <% } %>
        </div>
      </div>



      <!-- <div class="form-group row">
        <label for="Password" class="col-sm-3 col-form-label">현재 비밀번호*</label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" id="Password" name="Password" value="" class="form-control <%= (errors.Password)?'is-invalid':'' %>">
          <% if(errors.Password){ %>
            <span class="invalid-feedback"><%= errors.Password.message %></span>
          <% } %>
        </div>
      </div> -->

      <hr>
      </hr>


      <%- include('../partials/teams') %>

      <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label">Username(ID)*</label>
        <div class="col-sm-9">
          <input type="text" id="username" name="username" value="<%= user.username %>" class="form-control <%= (errors.username)?'is-invalid':'' %>">
          <% if(errors.username){ %>
          <span class="invalid-feedback"><%= errors.username.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">이름*</label>
        <div class="col-sm-9">
          <input type="text" id="name" name="name" value="<%= user.name %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
          <% if(errors.name){ %>
          <span class="invalid-feedback"><%= errors.name.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="text" id="email" name="email" value="<%= user.email %>" class="form-control <%= (errors.email)?'is-invalid':'' %>">
          <% if(errors.email){ %>
          <span class="invalid-feedback"><%= errors.email.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="auth" class="col-sm-3 col-form-label">보안등급</label>
        <div class="col-sm-9">
          <select class="form-control" id="auth" name="auth" value="<%= user.auth %>" <%= (errors.auth)?'is-invalid':'' %>">
            <option value="<%= user.auth %>" selected disabled hidden>현재 권한: <%= user.auth %></option>
            <option value="0">0: 계정 허가 전 (서버 이용 불가)</option>
            <option value="1">1: 기본권한(게시물 확인, 파일 다운)</option>
            <option value="2">2: 대외비 열람 가능 권한</option>
            <option value="3">3: 관리자 권한</option>


          </select>



          <% if(errors.auth){ %>
          <span class="invalid-feedback"><%= errors.auth.message %></span>
          <% } %>
        </div>
      </div>


      <div class="form-group row">
        <label for="newPassword" class="col-sm-3 col-form-label">새 비밀번호</label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" placeholder="=== 비밀번호 변경시에만 입력해주세요 ===" id="newPassword" name="newPassword" value="" class="form-control <%= (errors.newPassword)?'is-invalid':'' %>">
          <% if(errors.newPassword){ %>
          <span class="invalid-feedback"><%= errors.newPassword.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="passwordConfirmation" class="col-sm-3 col-form-label">비밀번호 확인</label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" placeholder="=== 비밀번호 변경시에만 입력해주세요 ===" id="passwordConfirmation" name="passwordConfirmation" value="" class="form-control <%= (errors.passwordConfirmation)?'is-invalid':'' %>">
          <% if(errors.passwordConfirmation){ %>
          <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
          <% } %>
        </div>
      </div>

      <hr>
      </hr>

      <% if(currentUser.id === user.id && currentUser.auth == '3'){ %>
      <div class="form-group row">
        <label for="originalPassword_post" class="col-sm-3 col-form-label">이전 글 삭제 비밀번호</label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" placeholder="=== 글 삭제 비밀번호 변경 시에만 입력해주세요. ===" id="originalPassword_post" name="originalPassword_post" value="" class="form-control <%= (errors.originalPassword_post)?'is-invalid':'' %>">
          <% if(errors.originalPassword_post){ %>
          <span class="invalid-feedback"><%= errors.originalPassword_postn.message %></span>
          <% } %>
        </div>
      </div>

      <div class="form-group row">
        <label for="newPassword_post" class="col-sm-3 col-form-label">글 삭제 비밀번호</label>
        <div class="col-sm-9 col-sm-offset-3">
          <input type="password" placeholder="=== 글 삭제 비밀번호 변경 시에만 입력해주세요. ===" id="newPassword_post" name="newPassword_post" value="" class="form-control <%= (errors.newPassword_post)?'is-invalid':'' %>">
          <% if(errors.newPassword_post){ %>
          <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
          <% } %>
        </div>
      </div>

      <% if(errors.unhandled){ %>
      <div class="alert alert-danger">
        <%= errors.unhandled %>
      </div>
      <% } %>
      <% } %>

      <% if(errors.unhandled){ %>
      <div class="alert alert-danger">
        <%= errors.unhandled %>
      </div>
      <% } %>

      <div class="buttons">
        <a class="btn btn-dark" href="/administrator_page/<%= username %>">Back</a>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>

    </form>

  </div>
</body>

</html>
