<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container mb-3">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-1 pl-2 pr-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/posts">Board</a></li>
        <li class="breadcrumb-item"><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
      </ol>
    </nav>

    <form action="/posts/<%= post._id %>?_method=put<%= getPostQueryString(true) %>" enctype="multipart/form-data" method="post">



      <!-- enterprise -->
      <%- include('partials/nations') %>


      <!-- enterprise -->
      <%- include('partials/enterprise') %>


      <!-- section -->
      <%- include('partials/section') %>



      <!-- code -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="CODE">CODE</label>
          </div>
        </div>
        <div class="col-md-10">
          <input type="text" id="code" autocomplete="off" name="code" value="<%= post.code %>" placeholder="CODE" class="form-control box <%= (errors.code)?'is-invalid':'' %>">
        </div>
        <% if(errors.code){ %>
        <span class="invalid-feedback"><%= errors.code.message %></span>
        <% } %>
      </div>


      <!-- title -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="title">메일 제목</label>
          </div>
        </div>

        <div class="col-md-10">
          <input type="text" id="title" autocomplete="off" name="title" value="<%= post.title %>" placeholder="메일제목" class="form-control <%= (errors.title)?'is-invalid':'' %>">
        </div>
        <% if(errors.title){ %>
        <span class="invalid-feedback"><%= errors.title.message %></span>
        <% } %>
      </div>


      <!-- sender_dept -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="sender_dept">부서</label>
          </div>
        </div>

        <div class="col-md-10">
          <input type=sender_dept" id="sender_dept" autocomplete="off" name="sender_dept" placeholder="부서" value="<%= post.sender_dept %>" class="form-control <%= (errors.sender_dept)?'is-invalid':'' %>">
        </div>
        <% if(errors.sender_dept){ %>
        <span class="invalid-feedback"><%= errors.sender_dept.message %></span>
        <% } %>
      </div>

      <!-- sender -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="sender">보낸이</label>
          </div>
        </div>
        <div class="col-md-4">
          <input type="text" id="sender" autocomplete="off" name="sender" placeholder="보낸이" value="<%= post.sender %>" class="form-control <%= (errors.sender)?'is-invalid':'' %>">
        </div>
        <% if(errors.sender){ %>
        <span class="invalid-feedback"><%= errors.sender.message %></span>
        <% } %>


        <!-- private check -->
        <div class="col-md-6" style="text-align:center">
          <input class="form-check-input" checked="checked" type="checkbox" name="private_check" value="true" id="private_check">
          <label class="form-check-label" for="private_check">
            보안기능(대외비) - 체크시 일부 권한자만 게시물 확인 가능
          </label>

        </div>

      </div>


      <div class="row">
        <div class="col-md-2">
          <label for="attachment">첨부파일</label>
        </div>

        <div class="col-md-4">
          <div class="form-group">



            <% if(post.attachment){ %>

            <div class="input-group" id="currentAttachemnt">
              <% for(var i = 0; i < post.attachment.length; i++){ %>
                <input type="hidden" id="attachment" name="attachment" value="<%= post.attachment[i]?post.attachment._id:'' %>">
              <div class="col-md-8">
                <input type="text" class="form-control" value="<%= post.attachment[i].originalFileName %>" readonly />
              </div>

              <% } %>
              <div class="col-md-4">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" onclick="$('#attachment').val('');$('#currentAttachemnt').hide();$('#newAttachment').removeClass('d-none');">첨부파일 삭제</button>
                </div>
              </div>
            </div>



            <% } %>

            <input type="file" id="newAttachment" class="form-control-file <%= post.attachment?'d-none':'' %>" name="newAttachment" multiple>
          </div>
        </div>
      </div>


      <div class="row">


        <!-- multi select *자동메일 -->
        <%- include('partials/multiple') %>

      </div>

      <% if(errors.unhandled) {%>
      <% if(errors.unhandled.substr(18, 5) === "11000"){ %>
      <div class="alert alert-danger" role="alert" style="margin-top: 1%;">
        Warning: 이미 등록된 CODE 입니다!
      </div>

      <%} else {%>
      <div class="alert alert-danger invalid-feedback d-block" role="alert" style="margin-top: 1%;">
        에러: <%= errors.unhandled.substr(2) %> || 이미 등록된 코드인지 확인하신 후, 관리자에게 문의하세요.
      </div>
      <% }%>
      <% } %>



      <div class="form-group">




        <!-- <textarea id="body" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea> -->

        <textarea id="summernote" name="body" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%- post.body %></textarea>
        <script>
          $(document).ready(function() {
            $('#summernote').summernote({
              height: 500,
              minHeight: 500,
              maxHeight: 500,
              focus: true,
              lang: "ko-KR",
              placeholder: '내용을 입력해주세요.',
              toolbar: [
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['color', ['forecolor', 'color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'help']]
              ],
              fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체',
                '굴림', '돋음체', '바탕체'
              ],
              fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36',
                '50', '72'
              ]
            });
          });
        </script>
      </div>




      <% if(errors.body){ %>
      <span class="invalid-feedback"><%= errors.body.message %></span>
      <% } %>

      <div>
        <a class="btn btn-dark" href="/posts<%= getPostQueryString() %>">Back</a>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
  </div>


  <!-- loading -->
  <%- include('partials/loading') %>




</body>

</html>
