<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
</head>

<body>
  <%- include('../partials/nav') %>



  <div class="container mb-3">



    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-1 pl-2 pr-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/posts">Board</a></li>
        <li class="breadcrumb-item"><%= reply.title %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Reply</li>
      </ol>
    </nav>

    <form action="/posts/<%= reply._id %>/reply_edit?_method=put<%= getPostQueryString(true) %>" enctype="multipart/form-data" method="post">



      <!-- title -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="title">메일 제목</label>
          </div>
        </div>

        <div class="col-md-10">
          <input type="text" id="title" autocomplete="off" name="title" value="<%= reply.title %>" placeholder="메일제목" class="form-control <%= (errors.title)?'is-invalid':'' %>">
        </div>
        <% if(errors.title){ %>
        <span class="invalid-feedback"><%= errors.title.message %></span>
        <% } %>
      </div>


      <div class="row">
        <div class="col-md-2">
          <label for="attachment">첨부파일</label>
        </div>

        <div class="col-md-4">
          <div class="form-group">


            <% if(reply.attachment){ %>

            <div class="input-group" id="currentAttachemnt">
              <% for(var i = 0; i < reply.attachment.length; i++){ %>
                <input type="hidden" id="attachment" name="attachment" value="<%= reply.attachment[i]?reply.attachment._id:'' %>">
              <div class="col-md-8">
                <input type="text" class="form-control" value="<%= reply.attachment[i].originalFileName %>" readonly />
              </div>


              <% } %>
              <div class="col-md-4">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" onclick="$('#attachment').val('');$('#currentAttachemnt').hide();$('#newAttachment').removeClass('d-none');">첨부파일 삭제</button>
                </div>
              </div>
            </div>



            <% } %>

            <input type="file" id="newAttachment" class="form-control-file <%= reply.attachment?'d-none':'' %>" name="newAttachment" multiple>
          </div>
        </div>
      </div>


      <div class="form-group">
        <input type="hidden" id="post" autocomplete="off" name="post" value="<%= reply.motherpost %>" " class="form-control <%= (errors.title)?'is-invalid':'' %>">
        <input type="hidden" id="motherpost" autocomplete="off" name="motherpos" value="<%= reply.motherpost %>" " class="form-control <%= (errors.title)?'is-invalid':'' %>">
        <input type="hidden" id="post" autocomplete="off" name="private_check" value="<%= post[0].private_check %>" " class="form-control <%= (errors.title)?'is-invalid':'' %>">

        <textarea id="summernote" name="body" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%- reply.body %></textarea>

        <script>
          $(document).ready(function() {
            $('#summernote').summernote({
              height: 500,
              minHeight: 500,
              maxHeight: 500,
              focus: true,
              lang: "ko-KR",
              placeholder: '내용을 입력해주세요.',
              toolbar: [
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['color', ['forecolor', 'color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'help']]
              ],
              fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체',
                '굴림', '돋음체', '바탕체'
              ],
              fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36',
                '50', '72'
              ]
            });
          });
        </script>
      </div>



      <% if(errors.body){ %>
      <span class="invalid-feedback"><%= errors.body.message %></span>
      <% } %>

      <div>
        <a class="btn btn-dark" href="/posts<%= getPostQueryString() %>">Back</a>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>


  <!-- loading -->
  <%- include('partials/loading') %>



</form>
    </div>


</body>

</html>
